[data-tab-content]{
    display: none; 
}
.active[data-tab-content]{
    display: block; 
}

.tablist{
    display: inline-block;
    width: 80%;
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    
}

.tab{
    border-bottom: 5px solid #ccc;
    width: 70px;
    margin: 10px;
    text-align: center; 
    float: left;
}
.newtab{
    
    margin-top: 15px;
}
.tab:hover {
    border-color: rgba(187, 124, 6, 0.644);
    cursor: pointer;
}
.tab.active{
    border-color: rgba(187, 124, 6, 0.644);
   

}